/bin
/proj.win32/Debug
/proj.win32/Debug.win32
/proj.win32/.vs

/proj.android-studio/app/build
/proj.android-studio/app/assets
/proj.android-studio/app/libs
/proj.android-studio/app/obj
/proj.android-studio/app/build.xml
/proj.android-studio/app/local.properties
/proj.android-studio/app/proguard-project.txt

*Debug*/

/proj.win32/cocosApp.VC.db
/proj.win32/cocosApp.sdf


